p {
    color: red;
    font-size: 24px;
}

h2 {
    font-size: 24px;
}

.mydiv {
    color: #00FF00;
}

div{
    font-size: 3em;
    background: wheat
  }

 .item div span {
    font-style: italic;
 }
.item span{
    font-size: 18px;
}